<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60" packages="ir.bankmellat">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable"/>
        </Console>

        <RollingFile name="RollingFile"
                     fileName="/var/log/pigeon/pigeon.log"
                     filePattern="/var/log/pigeon/pigeon-%d{yyyyMMdd}-%i.log.gz">
            <LevelRangeFilter minLevel="FATAL" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="/var/log/pigeon/" maxDepth="2" followLinks="true">
                    <IfAny>
                        <IfAccumulatedFileCount exceeds="100"/>
                    </IfAny>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="TraceLog"
                     fileName="/var/log/pigeon/pigeon-trace.log"
                     filePattern="/var/log/pigeon/pigeon-trace-%d{yyyyMMdd}-%i.log.gz">
            <LevelRangeFilter minLevel="TRACE" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="/var/log/pigeon/" maxDepth="2" followLinks="true">
                    <IfAny>
                        <IfAccumulatedFileCount exceeds="100"/>
                    </IfAny>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="ir.bpm" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="TraceLog"/>
        </Logger>

        <Root level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>